* {
  box-sizing: border-box;
}

body {
  width:100%;
}

header {
  width: 100%;
  height: 15vh;
  background-color: white;
  font-family: 'Roboto Slab', serif;
}

#logocard {
  height: 100%;
  width:40%;
  float:left;
  background-color: white;
  font-family: 'Faster One', cursive;
  color: red;
}

body header div p {
  font-size: 50px;
}

#logopic {
  height:100%;
  margin-left:25px;
  margin-right:25px;
}

header div p {
  display: inline;
}

#linkcard {
  height: 100%;
  float:right;
  font-size: 20px;
}

.toplink {
  text-decoration: none;
}

a:hover { 
  font-size: 21px;
  color: red;
}

nav ul {
  list-style: none;
  margin-right: 300px;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  padding:15px;
}

main div ul {
  display: inline;
  background-color: white;
}

main div ul li {
  line-height: 20px;
}



#resultrack {
  width:30%;
  height: 75vh;
  float:left;
  background-color: gainsboro;
  border:1px solid black;
  font-family: 'Roboto Slab', serif;
}

#imgrack {
  float:right;
  width:70%;
  height: 45vh;
  border:1px solid black;
  /* background-color: lightblue; */
}

.imgslot {
  width:33%;
  display: inline-block;
}

#slot-one {
  display:block;
  margin:auto;
  width: 60%;
}

#slot-two {
  display:block;
  margin:auto;
  width: 60%;
}

#slot-three {
  display:block;
  margin:auto;
  width: 60%;
}

#votediv {
  height:10vh;
  width: 70%;
  display: inline-block;
  background-color:grey;
  border:1px solid black;
}

main div input {
  display:block;
  margin:auto;
  margin-top: 15px;
}

main div label{
  display:block;
  text-align: center;
  margin-top: 15px;
}

#infobar {
  height:20vh;
  width: 70%;
  display: inline-block;
  background-color:darkgray;
  border:1px solid black;
  color: white;
}

.instructional {
  text-align: center;
  font-size: 60px;
  font-family: 'Lobster', cursive;

}

footer {
  width: 100%;
  display: inline-block;
  border:1px solid black;
  /* background-color:darkslategrey; */
}
